@import 'style.css';

@media only screen and (max-width: 575.98px){
 .main-heading{
     font-size: 4rem;
 }
 .inner-circle{
     width: 85vw;
     height: 50vh;
 }
 .book_btn{
     width: 50%;
     height: 5vh;
     top: 55%;
     transform: translate(-50%,45%);
     -webkit-transform: translate(-50%,45%);
     -moz-transform: translate(-50%,45%);
     -ms-transform: translate(-50%,45%);
     -o-transform: translate(-50%,45%);
}
.upper-heading img{
    width: 22vw;
}
.upper-heading{
     top: 35%;
     transform: translate(-50%,65%);
     -webkit-transform: translate(-50%,65%);
     -moz-transform: translate(-50%,65%);
     -ms-transform: translate(-50%,65%);
     -o-transform: translate(-50%,65%);
}
.bottom-content img{
    width: 80vw;
}
}
@media only screen and (min-width:768px) and (max-width: 991.98px) {
    .inner-circle{
        width: 50vw;
        height: 40vh;
    }
    .book_btn{
        width: 25vh;
        top: 60% ;
        transform: translate(-50%, -40%);
    }
    .upper-heading{
        top: 42% ;
        transform: translate(-50%, -58%);
        -webkit-transform: translate(-50%, -58%);
        -moz-transform: translate(-50%, -58%);
        -ms-transform: translate(-50%, -58%);
        -o-transform: translate(-50%, -58%);
}
.upper-heading img{
    width: 10rem;
}  
}
@media only screen and (min-width:992px) and (max-width:1024px) {
    .inner-circle{
        width: 50vw;
        height: 40vh;
    }
    .book_btn{
        width: 20vh;
        top: 60%;
        transform: translate(-50%,-60%);
        -webkit-transform: translate(-50%,-60%);
        -moz-transform: translate(-50%,-60%);
        -ms-transform: translate(-50%,-60%);
        -o-transform: translate(-50%,-60%);
}
    .main-heading{
        font-size: 10rem;
    }
    .upper-heading{
        top: 42%;
        transform: translate(-50%,-48%);
        -webkit-transform: translate(-50%,-48%);
        -moz-transform: translate(-50%,-48%);
        -ms-transform: translate(-50%,-48%);
        -o-transform: translate(-50%,-48%);
}
.upper-heading img{
    width: 15rem;
}
}


@media only screen and (min-width: 575.98px) and (max-width: 767px) and (orientation:landscape) {
    .main-heading{
        font-size: 4rem;
    }
    .book_btn{
        width: 20%;
        top: 68%;
    }

}
@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation:landscape) {
    .main-heading{
        font-size: 5rem;
    }
    .book_btn{
        width: 20%;
        top: 68%;
    }
    .inner-circle{
        width: 30vw;
        height: 60vh;
    }
    .upper-heading{
        top: 35%;
    }
    .upper-heading img{
        width: 7rem;
    }

}
@media only screen and (min-width: 992px) and (max-width: 1024px) and (orientation:landscape) {
    .main-heading{
        font-size: 5rem;
    }
    .book_btn{
        width: 20vh;
    }
    .inner-circle{
        width: 40vw;
        height: 50vh;
    }
    .upper-heading img{
        width: 10rem;
    }
    
}






