@import 'style.css';

@media only screen and (max-width: 575.98px){
    .center-logo{
        height: 72vh; 
    }
    .bottom-content{
        height: 18vh; 
    }
    .bottom-heading{
        font-size: 1rem;
    }
    .navlinks{
        display: none;
    }
    .socialmedia a{
        display: none;
    }
    .menu{
        display: initial;
        position: absolute;
        top: 50%;
        left: 90%;
        transform: translate(-10%,-50%);
        -webkit-transform: translate(-10%,-50%);
        -moz-transform: translate(-10%,-50%);
        -ms-transform: translate(-10%,-50%);
        -o-transform: translate(-10%,-50%);
}
    .logo img{
        width: 15vw;
    }
    

}

@media only screen and (min-width: 575.98px) and (max-width: 767px) and (orientation:landscape) {
    .bottom-heading{
        font-size: 0.8rem;
    }
    .navlinks a , .socialmedia a{
        font-size: 8px;   
    }
}


@media only screen and (min-width:768px) and (max-width: 991.98px) {
    .center-logo{
        height: 72vh; 
    }
    .bottom-content{
        height: 18vh; 
    }
    .bottom-heading{
        font-size: 1.8rem;
    }
    .bottom-content .explore-link a{
        font-size: 12px;   
    }
}


@media only screen and (min-width: 768px) and (max-width: 1025px) and (orientation:landscape) {
    .bottom-heading{
        font-size: 0.8rem;
    }
    .navlinks a , .socialmedia a{
        font-size: 10px;   
    }
    .bottom-content .explore-link a{
        font-size: 8px;   
    }
}


@media only screen and (min-width:992px) and (max-width:1099px) {
    .center-logo{
        height: 72vh; 
    }
    .bottom-content{
        height: 18vh; 
    }
    .bottom-heading{
        font-size: 2rem;
    }
    .bottom-content .explore-link a{
        font-size: 16px;   
    }

}