*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

html ,body{
    width: 100%;
    height:100%;
    color: white;
    overflow: hidden;
}
p{
    margin: 0 !important;
}
a{
    text-decoration: none;
    color: white;
}

.bg{
    height: 100vh;
    background-image: url('./images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.logo p:nth-child(2){
    font-size: 8px;
}
.logo p{
    font-weight: bolder;
}

.navlinks a{
    font-size: 12px;
    font-weight: bold;
    padding:5px;
}
.navlinks div{
    display: flex;
    justify-content: center;
    align-items:center;
    color: black;
    width: 5vh;
    height: auto;
    border-radius: 50%;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main-content{
    position: relative;
    height: 90vh;
}
.inner-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 28vw;
    height: 60vh;
    background-color: transparent;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: 55px solid rgba(255, 255, 255, 0.336);
}
.main-heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    font-size: 8rem;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}
.bottom-content{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%,-12%);
    -webkit-transform: translate(-50%,-12%);
    -moz-transform: translate(-50%,-12%);
    -ms-transform: translate(-50%,-12%);
    -o-transform: translate(-50%,-12%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-content p{
    padding-top: 10px;
}
.bottom-content img{
    width: 10vw;
    height: 0.3vh;
}

.book_btn{
    width: 10%;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid white;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-35%);
    -webkit-transform: translate(-50%,-35%);
    -moz-transform: translate(-50%,-35%);
    -ms-transform: translate(-50%,-35%);
    -o-transform: translate(-50%,-35%);
}

.upper-heading{
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%,-62%);
    -webkit-transform: translate(-50%,-62%);
    -moz-transform: translate(-50%,-62%);
    -ms-transform: translate(-50%,-62%);
    -o-transform: translate(-50%,-62%);
}
.upper-heading p{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
.upper-heading img{
    height: 0.3vh;
}
